/*CSS document to style my webpage*/

/*Only one body so no class or id needed*/
/*Background color changed to a light green*/
body {
    background-color: rgb(184, 243, 189);
    font-family: "Roboto Condensed","Monaco",sans-serif;
    max-width: 960px;
    margin: auto;
}
    
/*Style the header element*/
/*Only one and will be the same for all pages so I will overide all headers*/
    /*allign the text to the center of the page*/
header {
    text-align: center;
}

/*create a title ID for the h1 tag*/
    /*changes the colour of the font to match my hat in the CV photo
        changes the font to Monaco*/

.title{
    color:rgb(65, 41, 68);
    font-family: "Monaco","Roboto Condensed",sans-serif;
    font-weight:bolder;
    margin-bottom: 5px;
}


/*creates class CV for the main image in the header*/
    /*make a circle with green border, green like my sweather in the picture */
    /*but I opted to use lighter green*/
img.cv {
    border-radius: 50%;
    border: 5px solid rgb(0,128,64);
    width:187px;
    height:187px;
}

/*creates class hierauj for the images in the misc page for the Montreal images*/
    /*with border but not a circle*/
img.hierauj {
    border: 5px solid rgb(0,128,64);
    width: 45%;
    height: auto;
}
img.hierauj2 {
    border: 5px solid rgb(0,128,64);
    width: 25%;
    height: 25%;
    float: right;

}

/*create class labwork for links to my lab work/ related links*/
a.labwork {
    color: rgb(65, 41, 68);
    margin: 0.7em;
    
}
    /*change colour of link when hovering*/
a.labwork:hover {
    color: rgb(0,128,64);
    text-decoration: underline;
}


/*ul is required for an unordered bulleted list, as well as li tag*/
    /*using to make a navigation bar*/
    /*background color to match theme and rounded*/
    /*centered items, font changed to match theme*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(65, 41, 68);
    border-radius: 10px;
    align-items: center;

}

/*list, for the navigation bar items*/
    /*same grey ish border to match theme and seperate the items*/
li {
    float: left;
    border-right: 1px solid rgb(227,225,223);
}

/*change the style of the links of the list items in the navigation bar*/
li a {
    display: block;
    color: rgb(227,225,223);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*change the style when hovering to a lighter purple*/
.active {
    background-color: rgb(83, 49, 105);
  }
li a:hover:not(.active) {
background-color: rgb(83, 49, 105);
}

/*Create style for all section tags in the webpage*/
    /*colour of the bakcground is the colour of the background in the CV picture*/
    /*rounded corners, little bit inside the navigation bar to create some hierarchy*/

#school {
    background-color: rgb(227,225,223);
    border: 5px solid rgb(0,128,64);
    border-radius: 10px;
    padding: 5px;
    margin: 25px;
}


#acadWork {
    background-color: rgb(227,225,223);
    border: 5px solid rgb(0,128,64);
    border-radius: 10px;
    padding: 5px;
    margin: 25px;
}


#misc {
    background-color: rgb(227,225,223);
    border: 5px solid rgb(0,128,64);
    border-radius: 10px;
    padding: 5px;
    margin: 25px;
    text-align: center;
}




.sectionTitle {
    text-decoration: underline;
    margin: 5px;
    text-align: center;
    font-size: 1.4em;
    margin-block-end: 1.3em;
}

.sectionSubTitle {
    font-size: 1.1em;
    margin: 0.7em;
}

.sectionYears {
    font-size: 0.9em;
    font-style: italic;
    font-weight: normal;
    margin: 0.7em;
    margin-block-end: 0.7em;
    margin-left: 20px;

}

.labdesc {
    display: inline-block;
    margin-inline-start: 35px;
    margin-inline-end: 35px;
    text-align: left;


}

.sources {
    font-size: x-small;
    font-style: italic;
    text-align: center;
    display: inline-block;
    margin-inline-start: 10px;
    margin-inline-end: 10px;

}

.location {
    text-decoration: underline;
    font-weight: bold;
    font-size: smaller;
    display: inline-block;
    margin-inline-start: 10px;
    margin-inline-end: 10px;

}

.projects {
    display: inline-block;
    font-size: 0.95em;  
    font-weight: bolder;
    margin-bottom: 0px;;
    margin-left: 20px;
    text-decoration: underline;
}

table {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    table-layout: fixed;
    width:100%;
}

td.hieraujDesc {
    text-align: center;
    padding: 20px;
    width: 35%;
}

footer {
    text-align: center;
    background-color: rgb(65, 41, 68);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 25px;
}


.footerText {
    display: inline;
    color: rgb(227,225,223);
    font-size: 0.75em;

    font-family: "Monaco","Roboto Condensed",sans-serif;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.footerText2 {
    color: rgb(227,225,223);
    font-size: 0.75em;
    font-family: "Monaco","Roboto Condensed",sans-serif;
    font-style: italic;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.mtldesc{
    display: inline-block;
    margin-inline-start: 35px;
    margin-inline-end: 35px;
    font-size: smaller;
}