body {
    background-color: rgb(184, 243, 189);
}
  
img.cv {
    border-radius: 50%;
    border: 5px solid rgb(44, 110, 21);
    width:187px;
    height:187px;
}

img.hierauj {
    border: 5px solid rgb(44, 110, 21);
    width: 300px;
}

a {
    color: rgb(44, 110, 21);
}

section {
    background-color: lightgrey;
 
    border: 5px solid rgb(44, 110, 21);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

header {
    text-align: center;
}


h1 {
    color: navy;
    margin-left: 20px;
    font-family: "Roboto Condensed",Helvetica,Arial,sans-serif;
}

